.about {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 5rem;
  align-items: start;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about_content p {
  color: var(--secondary-text-color);

  font-size: 1.05rem;

  line-height: 1.9;
}

@media (max-width: 992px) {
  .about {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

@media (max-width: 768px) {
  .about_content p {
    font-size: 1rem;
    line-height: 1.8;
  }
}
